.clients .desktopClients {
    background: #E0E0E0;
    /* width: 1919px; */
    height: 1112px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.clients .mobileClients {
    background: #E0E0E0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}

.clients h2 {
    color: #000;
    /* font-family: Poppins; */
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    margin-top: 70px !important;
}

.desktopClients .logoContainer {
    margin-bottom: 10px;
}

.clientsContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desktopClients .clientRow {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 100px;
}



.desktopClients .clientRow p {
    margin-top: 50px;
    width: 561px;
    margin-left: 50px;
    color: #000;
    /* font-family: Poppins; */
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

/* .clientRow p {
    margin-top: 50px;
    width: 561px;
    margin-left: 50px;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
} */

.desktopClients .box-item {
    width: 48%;
    margin-bottom: 20px;
}


.desktopClients .clientRow ul {
    margin-top: 50px;
    width: 561px;
    margin-left: 50px;
    color: #000;
    /* font-family: Poppins; */
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.desktopClients .pineaImg {
    margin-left: 20%;
    width: 250px;
    height: 110px;
}

.mobileClients .AvicenaImg {
    /* margin-left: 20%; */
    width: 400px;
    height: 80px;
}

.desktopClients .clientLogo {
    width: 400px;
    height: 80px;
    margin-left: 20%;
}