.contact .desktopContact {
    position: relative;
    width: 1920px;
    height: 1120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E0E0E0;
    width: 1920px;
}

.contact .mobileContact {
    /* position: relative; */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #E0E0E0;
}

.rounded-input {

    /* background: #FFF; */
    background: transparent !important;
    border-bottom: #000 !important;
    height: 59px;
}


.rounded-textarea {
    background: transparent !important;
    /* background: #FFF; */
    /* height: 59px; */
}


.rounded-button {
    border-radius: 5px !important;
    background: #66C09E !important;
    width: 80px !important;
    /* height: 57px !important; */
    color: #FFF !important;
    align-items: right;
    margin-left: 80%;
    justify-content: right !important;
    font-weight: bolder !important;
}


.contact-block .form-group {
    margin-bottom: 20px;
}


.contact-block .form-group {
    padding-bottom: 20px;
}


.contact-us {
    /* width: 150px; komentohet */
    height: 30px;
    color: #000;
    /* font-family: Poppins; */
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    padding-right: 50px;
    padding-left: 50px;
    /* text-align: left; */
}

.container {
    text-align: center;
    /* display: flex; */
    flex-direction: column;
}


.mobileContact {
    padding: 20px;
    height: 100vh;
}


.desktopContact .title h1 {
    font-size: 70px;
    font-weight: bolder;
    text-align: right;
}

.desktopContact .desc p {
    padding: 20px;
    font-size: 30px;
    text-align: right;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ABABAB !important;
    border-radius: 0;
    /* Optionally remove border-radius for a flat bottom line */
}