.demo .desktopDemo {
    background: linear-gradient(90deg, #87C0DA 0%, #65C09D 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1919px;
    height: 1120px;
}

.demo .mobileDemo {
    background: linear-gradient(90deg, #87C0DA 0%, #65C09D 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

.demo .desktopDemo .row {
    margin-top: 50px;
}

.demo .desktopDemo img {
    width: 1009px;
    height: 738px;
    margin-left: 25%;
}

.demo .desktopDemo p {
    margin-top: 30px;
    max-width: 1000px;
    margin-left: 25% !important;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;

}

.demo .mobileDemo p {
    padding: 20px;

}



.demo .desktopDemo h2 {
    color: #FFF;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 60% !important;
    margin-top: 0px !important;

}

.demo .mobileDemo h2 {
    color: #FFF;
    font-weight: 700;
}

.demo .mobileDemo p {
    color: #FFF;
}

.demo .mobileDemo .laptop {
    width: 450px;
    height: 238px;

}



.demo .desktopDemo .row {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* margin-bottom: 20px; */
    justify-content: center;
    margin-right: 80px;

}

.desktopDemo .demoIcon {
    width: 78px !important;
    height: 71px !important;
    width: 50px;
    height: auto;
    margin-left: 80% !important;

}

.mobileDemo .demoIcon {
    width: 78px !important;
    height: 71px !important;
}