/* Navbar.css */

.navBar {
    background: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: left;
    height: 70px;
}

.navBar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar li {
    margin: 0 20px;
    cursor: pointer;
}

.navBar li:last-child {
    margin-right: 0;
}

.navBar a {
    text-decoration: none;
    transition: color 0.3s ease;
}



.navBar .active {
    color: #63BF99 !important;

}

.navBar .mobileMenu {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100%;
    background: linear-gradient(90deg, #87C0DA 0%, #65C09D 100%);
    z-index: 999;
    transition: left 0.3s ease;

}

.navBar .mobileMenu.active {
    left: 0;

}


.hamburger-icon {
    /* display: block; */
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px auto;
    transition: 0.3s ease;
}

.hamburger-icon.active {
    background-color: transparent;
}

/* .hamburger-icon.line-1 {
    margin-top: 0;
} */

.hamburger-icon.line-2 {
    margin-top: 5px;
}

.hamburger-icon.line-3 {
    margin-top: 5px;
}

.mobileMenu li {
    margin: 0;
    padding: 15px 0;
    color: #fff;
    text-align: left;
    margin-left: 20px;

}

.mobileMenu .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: #fff;
}

.logoWhite {
    width: 100px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.mobileMenuButton {
    border: none;
    background-color: transparent;
}

.demo-button {
    border-radius: 5px !important;
    background: #66C09E !important;
    /* width: 80px !important; */
    /* height: 57px !important; */
    color: #FFF !important;
    /* align-items: right; */
    /* margin-left: 80%; */
    /* justify-content: right !important; */
    font-weight: bolder !important;
}

.navBar .navLogo {
    width: 77px;
    height: 50px;
}

.navBar .logoOfNav {
    margin-right: 380px;
    margin-left: 100px;
}