.desktopPricing .pricing-table {
    padding: 0px 0px 40px 0px;
    background-color: #FFFFFF;
    transition: all 0.3s;
    border-radius: 35px;
    border: 5px solid #66C09F;
    background: #FFF;
    width: 480px;
    height: 1370px;
    margin: 0 10px;


}

.mobilePricing .pricing-table {
    padding: 0px 0px 40px 0px;
    background-color: #FFFFFF;
    transition: all 0.3s;
    border-radius: 35px;
    border: 5px solid #66C09F;
    background: #FFF;
    /* width: 480px; */
    /* height: 1370px; */
    margin: 0 10px;
}

/* .mobilePricing .pricing-table {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);

} */


.desktopPricing .pricing-table .pricing-details .descriptionP {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 10px;
    padding-right: 30px;
    height: 250px;
}

.mobilePricing .pricing-table .pricing-details .descriptionP {
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-left: 10px;
    padding-right: 30px;
    /* height: 250px; */
}

.desktopPricing .pricing-table .pricing-details .subscriptionP {
    color: #7C7C7C;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-left: 10px;
    padding-right: 30px;

}

.mobilePricing .pricing-table .pricing-details .subscriptionP {
    color: #7C7C7C;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 12px; */
    margin-left: 10px;
    padding-right: 30px;

}


.desktopPricing .healthlite h3 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 30px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    color: #EFAC5D;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    margin-left: 10px;

}

.mobilePricing .healthlite h3 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 15px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    color: #EFAC5D;
    font-style: normal;
    line-height: 70px;
}



.desktopPricing .healthlite h1 {
    color: #EFAC5D;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    padding-left: 30px;


}

.mobilePricing .healthlite h1 {
    color: #EFAC5D;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    padding-left: 40px;


}



.desktopPricing .healthlite h1::before {
    content: attr(data-before);
    color: #EFAC5D;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.mobilePricing .healthlite h1::before {
    content: attr(data-before);
    color: #EFAC5D;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.desktopPricing .pricing-table .pricing-details h1::after {
    content: "/mo";
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;

}

.mobilePricing .pricing-table .pricing-details h1::after {
    content: "/mo";
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;

}


.desktopPricing .pricing-table .pricing-details span {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    padding-left: 30px;
}

.mobilePricing .pricing-table .pricing-details span {
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    padding-left: 30px;
}



.pricing-details {
    padding: 5px
}

.desktopPricing .pricing-section {
    height: 1570px;

}

.desktopPricing .pricing-table .pricing-details ul {
    margin-bottom: 35px;
    list-style-type: none;
    padding-right: 45px;


}

.mobilePricing .pricing-table .pricing-details ul {
    margin-bottom: 35px;
    list-style-type: none;

}

.desktopPricing .pricing-table .pricing-details ul li {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    background-image: url('../img/check.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    margin-bottom: 10px;
    display: flex;
}

.mobilePricing .pricing-table .pricing-details ul li {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 30px; */
    background-image: url('../img/check.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    margin-bottom: 10px;
    display: flex;
    padding-right: 10px;
}

.desktopPricing .healthlite .plan-button {
    width: 350px;
    height: 88px;
    border-radius: 43px;
    background: linear-gradient(50deg, #EFAC5D 32.09%, #FFF 166.03%);
    margin-left: 30px;
    margin-top: 40px;

}

.mobilePricing .healthlite .plan-button {
    /* width: 350px; */
    /* height: 88px; */
    border-radius: 43px;
    background: linear-gradient(50deg, #EFAC5D 32.09%, #FFF 166.03%);
    /* margin-left: 30px; */
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;


}

.desktopPricing .plan-button a {
    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    margin-left: 25%;

}

.mobilePricing .plan-button a {
    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    margin-left: 25%;

}

.desktopPricing .section-subtitle {
    color: #000;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.mobilePricing .section-subtitle {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 50px;
    margin-left: 15px;
}

.desktopPricing .decidePlan {
    width: 404px;
    height: 113px;
    border-radius: 17px;
    background: linear-gradient(90deg, #87C0DA 0%, #65C09D 100%);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 15%;
}

.mobilePricing .decidePlan {
    /* width: 404px; */
    height: 113px;
    border-radius: 17px;
    background: linear-gradient(90deg, #87C0DA 0%, #65C09D 100%);
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    /* margin-left: 15%; */
}

.desktopPricing .decidePlan .monthly {
    width: 179px;
    height: 79px;
    border-radius: 17px;
    background: #FFF;
    border: none;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;

}

.mobilePricing .decidePlan .monthly {
    width: 179px;
    height: 79px;
    border-radius: 17px;
    background: #FFF;
    border: none;
    color: #000;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;

}

.desktopPricing .decidePlan .yearly {
    width: 179px;
    height: 79px;
    border-radius: 17px;
    border: 2px solid #FFF;
    background: #83C0D8;
    justify-content: center;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;

}

.mobilePricing .decidePlan .yearly {
    width: 179px;
    height: 79px;
    border-radius: 17px;
    border: 2px solid #FFF;
    background: #83C0D8;
    justify-content: center;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;

}

.desktopPricing .healthpro h3 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 30px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    color: #63BF99;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    margin-left: 10px;

}

.mobilePricing .healthpro h3 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 15px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    color: #63BF99;
    font-size: 50px;
    font-style: normal;
    line-height: 70px;
}




.desktopPricing .healthpro h1 {
    color: #63BF99;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    padding-left: 30px;


}

.mobilePricing .healthpro h1 {
    color: #63BF99;
    /* font-size: 80px; */
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    padding-left: 40px;


}



.desktopPricing .healthpro h1::before {
    content: attr(data-before);
    color: #63BF99;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.mobilePricing .healthpro h1::before {
    content: attr(data-before);
    color: #63BF99;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.desktopPricing .healthpro .plan-button {
    width: 350px;
    height: 88px;
    border-radius: 43px;
    background: linear-gradient(50deg, #63BF99 32.09%, #FFF 166.03%);
    margin-left: 30px;
    margin-top: 40px;
}

.desktopPricing .healthpro .plan-button {
    /* width: 350px;
    height: 88px; */
    border-radius: 43px;
    background: linear-gradient(50deg, #63BF99 32.09%, #FFF 166.03%);
    /* margin-left: 30px; */
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.desktopPricing .healthplus h3 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 30px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    color: #84C0D5;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    margin-left: 10px;

}

.mobilePricing .healthplus h3 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 40px;

    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    color: #84C0D5;
    font-size: 50px;
    font-style: normal;
    line-height: 70px;
    /* text-align: left;
    margin-left: 10px; */


}



.desktopPricing .healthplus h1 {
    color: #84C0D5;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    padding-left: 30px;


}

.mobilePricing .healthplus h1 {
    color: #84C0D5;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    padding-left: 40px;


}



.desktopPricing .healthplus h1::before {
    content: attr(data-before);
    color: #84C0D5;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.mobilePricing .healthplus h1::before {
    content: attr(data-before);
    color: #84C0D5;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
}

.desktopPricing .healthplus .plan-button {
    width: 350px;
    height: 88px;
    border-radius: 43px;
    background: linear-gradient(50deg, #84C0D5 32.09%, #FFF 166.03%);
    margin-top: 40px;
    margin-left: 30px;

}

.desktopPricing .healthplus .plan-button {
    /* width: 350px;
    height: 88px; */
    border-radius: 43px;
    background: linear-gradient(50deg, #84C0D5 32.09%, #FFF 166.03%);
    margin-top: 40px;
    /* margin-left: 30px; */
    margin-left: 10px;
    margin-right: 10px;

}



.desktopPricing li.check-icon {
    position: relative;

}

.mobilePricing li.check-icon {
    position: relative;

}

.desktopPricing .feature-popup {
    position: absolute;
    background-color: white;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    width: 200px;
    display: none;
    left: 62%;
}

.mobilePricing .feature-popup {
    position: absolute;
    background-color: white;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    /* width: 200px; */
    display: none;
    /* left: 62%; */
}

.desktopPricing .show-popup {
    display: block;
}

.mobilePricing .show-popup {
    display: block;
}

.desktopPricing .descButton {

    width: 25px;
    height: 25px;
    fill: #FFF;
    stroke-width: 1px;
    border-color: #84C0D5;
    background: none !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

.mobilePricing .descButton {

    width: 25px;
    height: 25px;
    fill: #FFF;
    stroke-width: 1px;
    border-color: #84C0D5;
    background: none !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
}

.desktopPricing {
    padding-top: 100px;
}