/* Services.css */
.item-boxes {

    border-radius: 63px;
    border: 3px solid #63BF99;
    background: #FFF;
    /* width: 399px; */
    height: 371px;
    margin-bottom: 30px;
}

.item-boxes h4 {
    color: #000;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px
}

.item-boxes ul {
    text-align: left;
}

.desktopServices img {
    width: 89px;
    height: 89px;
    margin-top: 20px;
}

.desktopServices .ServicesContent {
    padding: 20px;
}


.mobileServices .serviceButton {
    border-radius: 50px;
    background: linear-gradient(90deg, #63BF99 0%, #83C0D4 100%);
    width: 200px;
    height: 46px;
    color: #FFF !important;
    /* align-items: right; */
    margin-left: 24%;
    justify-content: center !important;
    font-weight: bolder !important;
    border: none;
    margin-bottom: 50px;

}

.mobileServices img {
    width: 89px;
    height: 89px;
    margin-top: 20px;
}

.mobileServices .item-boxes {
    border-radius: 63px;
    border: 3px solid #63BF99;
    background: #FFF;
    width: 365px;
    height: 371px;
    margin-bottom: 30px;
}

.mobileServices {
    padding-left: 5px;
}

.desktopServices {
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

.services {
    padding-top: 20px;
}